/* 
    Document   : style.css
    Created on : 31 janv. 2014, 13:25:09
    Author     : Christophe
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin: 0;
    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    color: #235281;
    margin-top: 5px;
}

h2 {
    color: #3d7489;
}

.header-bar {
}

/**
** Header Bar
*/
#header {
    height: 70px;
    width: 100%;
    /*background-color: #3399cc;*/
    /*background-color : #183959;*/
    background-color : #235281;
    
    color: white;
    font-size: 10pt;
}

#menu {
    float: right;
    position: relative;
}

#user-header {
    display: block;
    float: right;
    margin-right: 20px;
    background-color : #183959;
    border-left: 1px solid #435f7b;
    border-right: 1px solid #435f7b;
    height: 70px;
}

#user-header-avatar {
    float: right;
    border: 1px solid #424143;
    height: 50px;
    width: 50px;
    margin: 9px 9px 0px 15px;
}

#user-header-names {
    float: right;
    color: white;
    margin: 27px 0 0 15px;
}

#logo {
    display : block;
    width: 186px;
    border-right: 1px solid #435f7b;
    height: 36px;
    float: left;
    overflow: hidden;
    padding: 17px;
}

.link {
}

.link:hover {
    background-color: #183959;
}

/**
** Corps
*/

#main {
    height: 100%;
    margin: 0;
}

#main-content {
    height: 100%;
    width: 100%;
    overflow-x: visible;
    display: block;
}

#content-table, #content-tr {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

#content {
    padding: 20px;
}

/** ###################### **
*** ######## Tableau ##### **
*** ###################### **/

.table-div {
    display: table;
}

.tr-div {
    display: table-row;
}

.td-div {
    display: table-cell;
    vertical-align: top;
}

.table {
    border-collapse: collapse;
}

.table-100 {
    width: 100%;
    margin-bottom: 15px;
}

/** Tableau pour formulaires **/

.form-table {
    width: 100%;
    margin-bottom: 15px;
}

.form-cell-25 {
    width: 25%;
}

.form-table-label {
    width: 25%;
}

.form-table tr {
    height: 40px;
}

.form-table td {
    padding: 3px;
    padding-left: 20px;
}

.table-line-grey {
    background: #f5f5f5;
}

.table-title-cadre {
    display: block;
    width: 250px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #3d7489;
    color: white;
    font-weight: bold;
    
    margin-top: 10px;
}

/** Header bar du contenu **/
.title-bar {
    width: 100%;
    height: 50px;
    background: white;
    
    margin: 0px;
    margin-top: -3px;
    line-height: 50px;
    
    text-align: center;
}

.title-bar-orange {
    background-color: #E1765A;
    color: white;
}

.title-bar-orange h1 {
    color: white;
    margin: 0;
    margin-top: 3px;
}

/** ###################### **
*** ######## Menu ######## **
*** ###################### **/

#left-menu {
    width: 220px;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #f5f5f5;
    border-right: 1px solid rgba(155,155,155,0.3);
    /*background-image: url('../images/main-content-left-menu-shadow.png');
    background-position: right;
    background-repeat: repeat-y;*/
    font-size: 10pt;
}

.left-menu-img {
    background-image: url('../images/icons/sprite-left-menu.png');
    width: 18px;
    height: 18px;
    float: left;
    position: relative;
    margin-right: 12px;
}

.left-menu-item {
    display: block;
    border-bottom: 1px solid #dadada;
    padding: 14px;
    color : #235281;
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
}

.left-menu-item:hover {
    background-color: #E1765A;
    color: white;
}

a {
    color: white;
}

/** ###################### **
*** ###### Connexion ##### **
*** ###################### **/

.form-connection {
    width: 600px;
    margin: auto;
}

/** ###################### **
*** ###### Formulaire #### **
*** ###################### **/
.form {
    
}

.form label {
    display: inline-block;
    width: 150px;
    
    font-size: 15px;
    
    color: #777;
}

.form input {
    height: 20px;
    color: #777;
    padding-left: 5px;
}

.btn {
    border: medium none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none repeat scroll 0% 0% transparent;
    cursor: pointer;
    padding: 4px 15px;
    display: inline-block;
    margin: 2px 5px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: medium none;
    position: relative;
    transition: all 0.3s ease 0s;
}

.btn-2 {
    background: none repeat scroll 0% 0% #3d7489;
    color: white;
    box-shadow: 0px 6px #235281;
    transition: none 0s ease 0s;
}

.btn-2a {
    border-radius: 0px 0px 5px 5px;
}

.btn-2a:hover {
    box-shadow: 0px 3px #3d7489;
    top: 2px;
}

.form input[type='button'],
.form input[type='submit']{
    padding: 0;
    color: white;
}
/** ###################### **
*** ###### Accordéon ##### **
*** ###################### **/

.ac-container {
    width: 100%;
    /*margin: 10px auto 30px auto;*/
    text-align: left;
}

.ac-container label {
    /*font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;*/
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 15px;
    background: #f5f5f5;
    box-shadow: 
            0px 0px 0px 1px rgba(155,155,155,0.3), 
            1px 0px 0px 0px rgba(255,255,255,0.9) inset;
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    /**background: #c6e1ec;**/
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
            0px 0px 0px 1px rgba(155,155,155,0.3), 
            0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow-down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow-up.png);
}
.ac-container input{
    display: none;
}
.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    /**background: #235281;**/
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
    height: auto;
}
.ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.ac-container input:checked ~ article.ac-large{
    height: 230px;
}